.-layer1,
.-layer2,
.-layer3 {
    display: none;
}

.fa.fa-times{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.myHandle{
    color: #777;
}

.category-list {
    padding: 10px;
    margin: 0;

    ul {
        margin-top: 5px;
        border-left: 3px solid #16A7E0;
        padding-left:0;
    }
    
    ul li {
        padding: 5px;
        border: 1px solid #aaa;
        display: block;
    }

    ul li:nth-child(even){
        background: #CCC
    }

    ul li:nth-child(odd){
        background: #FFF
    }
}

.name {
    display: block;
    margin: 5px 10px 0;
}

.innerLevel {
    margin-top: 5px;
    background: #16A7E0;
    padding: 5px;
    padding-left: 50px;
}

#SortableLevelOne li {
    position: relative;
}

.myHandle {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 5;

    cursor: all-scroll;
}

.ghost {
  opacity: .5;
  background: red;
}