.category-list {
    padding: 10px;
    margin: 0;

    ul {
        margin-top: 5px;
        border-left: 10px solid #16A7E0;
        padding-left:0;
    }
    
    ul li {
        padding: 5px;
        border: 1px solid #aaa;
        display: block;
    }

    ul li:nth-child(even){
        background: #CCC
    }

    ul li:nth-child(odd){
        background: #FFF
    }
}

.name {
    display: block;
    margin: 5px 10px 0;
}

.innerLevel {
    margin-top: 5px;
    background: #16A7E0;
    padding: 5px;
    padding-left: 50px;
}

#SortableLevelOne li {
    position: relative;
}

.myHandle {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 5;

    cursor: all-scroll;
}

.ghost {
  opacity: .5;
  background: red;
}