@import '../../node_modules/font-awesome/css/font-awesome.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/toastr/build/toastr.css';

body{
    background-color: #fff;
}
.bgWhite {
    background-color: #fff;
}

.clearfix,
.clearfix:before,
.clearfix:after {
    clear:both;
}

.-overpadding {
    padding-left: 18%;
    padding-right: 18%;
}

.manage-packages {
    width: 100%;
    padding: 5px;
}

.package-content {
    margin-top: 50px;
    width: 80%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.error-color {
    color: red;
}